---

---

<header
    class="fixed top-0 left-0 right-0 z-50 flex justify-between items-center px-8 py-2 border-b border-white/20 bg-black/40 backdrop-blur-md"
    style="box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);"
>
    <div class="flex items-center justify-between h-16">
        <a href="/">
            <img
                src="/src/assets/img/logo_blanc.png"
                alt="Logo SAE303"
                class="h-23 w-auto hover:opacity-80 transition"
            />
        </a>
    </div>
    <nav class="flex gap-8 items-center">
        <a href="/#projets" class="text-white hover:text-purple-300 transition">
            Mes projets
        </a>
        <a href="/a-propos" class="text-white hover:text-purple-300 transition">
            À propos
        </a>
        <a
            href="/contact"
            class="text-white border-3 border-pink-300 rounded-full px-6 py-2 hover:bg-pink-400 hover:border-pink-400 transition"
        >
            ME CONTACTER
        </a>
    </nav>
</header>
